<h1>Add New Car</h1>
<form id="new-car" action="/home/display_car" method="post">
  <div class="form-group">
    <label for="newMakeModel">Car Model</label>
    <input id="newMakeModel" name="newMakeModel" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="newCarInfo">Enter some history details of the car.</label>
    <input id="newCarInfo" name="newCarInfo" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="newMiles">Enter Miles</label>
    <input id="newMiles" name="newMiles" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="newPrice">Enter Price</label>
    <input id="newPrice" name="newPrice" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Show me the story!</button>
</form>
<div>

</div>
